TestMongo/node_modules
TestMySql/node_modules
MySqlFunctionTest/node_modules
.idea/*
.idea/vcs.xml
.idea/vcs.xml
TestMySql/loccalconfig.json
TestMySql/cert/client-cert.pem
TestMySql/cert/client-key.pem
TestMySql/cert/server-ca.pem
TestMySql/appconfig.json
TestSequelizeGoogleFunction/config/appconfig.json
TestSequelizeGoogleFunction/node_modules
TestSequelizeGoogleFunction/npm
TestSequelizeGoogleFunction/getContacts.zip
TestSequelizeGoogleFunction/contacts.zip
.DS_Store
